/***********************************
HEADER STYLES
***********************************/
.header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: 1030;
    position: fixed;    
}

.header:after {
    top: -100%;
    width: 100%;
    z-index: -1;
    height: 100%;
    content: '';
    position: absolute;
    background: #0d1640;
    transition: all 0.3s ease;    
}

.header.sticky:after {
    top: 0;
}

.header-gutter {
    height: 124px;
    min-height: 124px;
}

.header .navbar {
    margin: 0;
    padding: 20px 0; 
}

.header .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
}

.header .navbar .navbar-header .navbar-brand {
    padding: 0;
    display: block;
    margin-right: 0;
    overflow: hidden;
    max-width: 80px;
}

.header .navbar .navbar-collapse {
    flex-grow: initial;
}

.header .navbar .navbar-collapse .navbar-nav {
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
}
.header .navbar .navbar-collapse .navbar-nav > li {
    margin-left: 10px;
    margin-right: 10px; 
}

.header .navbar .navbar-collapse .navbar-nav > li > a {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 
    background-image: linear-gradient(107deg, #a542e3, #00ff5a); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .navbar .navbar-collapse .navbar-nav > li > a:hover, .header .navbar .navbar-collapse .navbar-nav > li > a.active {
    background-image: linear-gradient(107deg, #a542e3, #a542e3); 
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    width: 32px;
    display: block;
    border-radius: 0;
    overflow: inherit;
    background: transparent;
}
.navbar-toggle:hover .icon-bar:nth-child(1) {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.navbar-toggle:hover .icon-bar:nth-child(3) {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
.navbar-toggle:hover:before, .navbar-toggle:focus:before {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.navbar-toggle.in .icon-bar {
    -webkit-transition: transform 150ms linear 150ms;
    -webkit-transition: -webkit-transform 150ms linear 150ms;
    transition: -webkit-transform 150ms linear 150ms;
    transition: transform 150ms linear 150ms;
    transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;
}
.navbar-toggle.in .icon-bar:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}
.navbar-toggle.in .icon-bar:nth-child(2) {
    opacity: 0;
}
.navbar-toggle.in .icon-bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
.navbar-toggle .icon-bar {
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 500px;
    background-color: red;
    -webkit-transition: transform 150ms linear 150ms;
    -webkit-transition: -webkit-transform 150ms linear 150ms;
    transition: -webkit-transform 150ms linear 150ms;
    transition: transform 150ms linear 150ms;
    transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;
}
.navbar-toggle .icon-bar:not(:last-child) {
    margin-bottom: 6px;
}

/***********************************
MOBILE HEADER STYLES
***********************************/
.mobile-header {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
    max-width: 240px;
    overflow-y: auto;
    position: fixed;
    overflow-x: hidden;
    background: #FFFFFF; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
}
  
.mobile-header .navigation .navbar-nav > li {
    width: 100%;
    padding: 20px;
    display: block; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-header .navigation .navbar-nav > li > a { 
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 
    display: inline-block;
    background-image: linear-gradient(107deg, #a542e3, #00ff5a); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-header .navigation .navbar-nav > li > a:hover, .mobile-header .navigation .navbar-nav > li > a.active {  
    background-image: linear-gradient(107deg, #a542e3, #a542e3); 
}

@media only screen and (max-width: 1199px)  {
    
    /***********************************
    HEADER STYLES
    ***********************************/ 
    .header-gutter {
        height: 97px;
        min-height: 97px;
    }

    .header .navbar { 
        padding: 12px 0;
    }

    .header .navbar .navbar-header .navbar-brand { 
        max-width: 70px;
    }
}

.footer {
    overflow: hidden;
    background: #0d1640;
    padding: 150px 0 40px;
    border-radius: 20px 20px 0 0;
  
    .mb-30 {
      margin-bottom: -30px;
    }
  
    hr {
      display: block;
      margin-top: 30px;
    }
  
    .container {
      z-index: 1;
      position: relative;
  
      .ball {
        &:after {
          z-index: -1;
          content: "";
          left: -210px;
          width: 500px;
          height: 500px;
          opacity: 0.15;
          bottom: -340px;
          position: absolute;
          border-radius: 500px;
          background: linear-gradient(107deg, #a542e3, #00ff5a);
        }
  
        &:before {
          z-index: -1;
          content: "";
          left: -210px;
          width: 500px;
          height: 500px;
          opacity: 0.15;
          bottom: -340px;
          position: absolute;
          border-radius: 500px;
          background: linear-gradient(107deg, #a542e3, #00ff5a);
          top: -450px;
          left: inherit;
          right: -510px;
        }
      }
  
      .crooked {
        &:after {
          z-index: -1;
          content: "";
          width: 80px;
          height: 80px;
          bottom: 140px;
          right: -210px;
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../Assets/Images/crooked-line.svg);
        }
  
        &:before {
          z-index: -1;
          content: "";
          width: 80px;
          height: 80px;
          bottom: 140px;
          right: -210px;
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../Assets/Images/crooked-line.svg);
          top: -40px;
          width: 60px;
          height: 31px;
          left: -100px;
          background-image: url(../Assets/Images/line.svg);
        }
      }
    }
  }
  
  .footer__logo a {
    color: #FFF;
    display: block;
    font-size: 40px;
    max-width: 160px;
    line-height: 40px;
    margin-bottom: 15px;
  
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  
  .footer__text {
    margin-bottom: 20px;
  
    p {
      color: #FFF;
    }
  }
  
  .footer__socail-media {
    padding: 0;
    margin: 0px -5px;
  
    li {
      margin: 0px 5px;
      display: inline-block;
  
      a {
        width: 40px;
        height: 40px;
        color: black;
        font-size: 18px;
        line-height: 40px;
        background: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &:hover a:-webkit-any-link, &:focus a:-webkit-any-link {
        color: #FFF;
        background: #E45498;
      }
    }
  }
  
  .footer__widget {
    margin-bottom: 30px;
  }
  
  .footer__widget-menu {
    padding: 0;
    list-style: none;
  
    li {
      margin-bottom: 10px;
  
      &.title a {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        display: inline-block;
        background-image: linear-gradient(107deg, #a542e3, #00ff5a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
  
      a {
        font-size: 20px;
        line-height: 30px;
        display: inline-block;
        background-image: linear-gradient(107deg, #a542e3, #00ff5a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
  
        &.active, &:any-link:hover {
          background-image: linear-gradient(107deg, #a542e3, #a542e3);
        }
      }
    }
  }
  
  .breadcrumb {
    margin: 0;
    color: white;
    padding: 10px 25px;
    border-radius: 500px;
    text-transform: capitalize;
    background-image: linear-gradient(107deg, #a542e3, #00ff5a);
}

@media only screen and (max-width: 767px)  {

    .breadcrumb { 
        border-radius: 20px;
        padding: 8px 15px;
    }
}
  
  @media only screen and (max-width: 1366px) {
    /***********************************
    FOOTER STYLES
    ***********************************/
  
    .footer {
      padding-top: 100px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    /***********************************
    FOOTER STYLES
    ***********************************/
  
    .footer {
      padding-top: 80px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    /***********************************
    FOOTER STYLES
    ***********************************/
  
    .footer {
      padding-top: 60px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    /***********************************
    FOOTER STYLES
    ***********************************/
  
    .footer {
      padding-top: 40px;
    }
  
    .footer__widget-menu, .footer__socail-media, .footer__text {
      text-align: center;
    }
  
    .footer__logo a {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .is-animation-page {

    .header, .header-gutter, .breadcrumb-wrapper, .footer {
        display: none !important;
    }
  }